#d1{
	border-top:5px solid #0088CC;
	width:100%;
	height:3060px;
	background-color:#E3E3E3;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
}
#d2{
	//border:1px solid red;
	//width:100%;
	height:2900px;
	margin-top:40px;
	margin-left:180px;
	margin-right:180px;
	background-color:white;
}
#t1{
	height:20px;
	border-radius:15px;}
#d21{
	//border:1px solid red;
	width:100%;
	height:180px;
}
#d211{
	//border:1px solid red;
	width:780px;
	height:140px;
	margin-top:30px;
	float:left;
}
#d212{
	//border:1px solid red;
	width:100px;
	height:20px;
	margin-top:20px;
	float:left;
}
#d22{
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	//width:100%;
	height:40px;
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
}
#d221{
	//border:1px solid red;
	width:60px;
	height:40px;
	float:left;
	margin-top:5px;
	margin-left:30px;
}
#p1{
	margin-top:5px;
	text-align:center;
}
#d222{
	//border:1px solid red;
	width:60px;
	height:40px;
	float:left;
	margin-top:5px;
}
#d223{
	//border:1px solid red;
	width:80px;
	height:40px;
	float:left;
	margin-top:5px;
}
#d224{
	//border:1px solid red;
	width:100px;
	height:40px;
	float:left;
	margin-top:5px;
}
#d225{
	//border:1px solid red;
	width:100px;
	height:40px;
	float:left;
	margin-top:5px;
}
#d226{
	//border:1px solid red;
	width:60px;
	height:40px;
	float:left;
	margin-top:5px;
}
#d227{
	//border:1px solid red;
	width:80px;
	height:40px;
	float:left;
	margin-top:5px;
}
#d228{
	//border:1px solid red;
	width:155px;
	height:40px;
	float:left;
	margin-top:5px;
}
#d229{
	//border:1px solid red;
	width:100px;
	height:40px;
	float:left;
	margin-top:5px;
}
#d2210{
	//border:1px solid red;
	width:100px;
	height:40px;
	float:left;
	margin-top:5px;
}
#a1{
	text-decoration:none;
}
#d23{
	border:1px solid white;
	height:300px;
	background:url("hw5_2.jpg");
	background-size:100% 100%;
	margin-top:20px;
}
#d231{
	//border:1px solid red;
	height:60px;
	margin-top:260px;
	//background-color:#887762;
}
#p2{
	color:white;
}
#d24{
	//border:1px solid red;
	width:100%;
	height:2300px;
	margin-top:40px;
}
#d241{
	//border:1px solid red;
	width:25%;
	height:2200px;
	margin:10px;
	float:left;
}
#d2411{
	border:1px solid #CCCCCC;
	height:170px;
	//text-align:center;
	background-color:#F5F5F5;
}
#d24111{
	border-bottom:3px solid #EEEEEE;
	border-left:1px solid #F5F5F5;
	border-right:1px solid #F5F5F5;
	border-top:1px solid #F5F5F5;
	height:40px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-left:20px;
	margin-right:20px;
}
#d24112{
	//border:1px solid red;
	height:90px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-left:20px;
	margin-right:20px;
}
#a2{
	text-decoration:none;
}
#d242{
	//border:1px solid red;
	width:43%;
	height:2200px;
	margin:10px;
	float:left;
}
#d243{
	//border:1px solid red;
	width:25%;
	height:2200px;
	margin:10px;
	float:left;
}
#d2412{
	border:1px solid #CCCCCC;
	height:80px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-top:20px;
}
#d24121{
	//border:1px solid red;
	margin-top:20px;
	margin-left:30px;
	margin-right:30px;
}
#g3{
	width:180px;
	height:40px;
}
#d2413{
	border:1px solid #CCCCCC;
	height:1000px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-top:20px;
}
#d24131{
	border:1px solid #CCCCCC;
	margin:20px;
	height:960px;
	background-color:white;
}
#d241311{
	border:1px solid #CCCCCC;
	height:30px;
	width:49%;
	float:left;
	//text-align:center;
	background-color:#F5F5F5;
	//margin-top:20px;
}
#d241312{
	border:1px solid #CCCCCC;
	height:30px;
	width:48%;
	float:left;
	//text-align:center;
	background-color:yellow;
	//margin-top:20px;
}
#h2{
	margin-top:5px;
	text-align:center;
}
#a3{
	text-decoration:none;
}
#d2414{
	border:1px solid #CCCCCC;
	height:960px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-top:20px;
}
#d24141{
	border:1px solid #CCCCCC;
	margin:20px;
	height:920px;
	background-color:white;
}
#d241411{
	border:1px solid #CCCCCC;
	height:30px;
	width:30%;
	float:left;
	//text-align:center;
	background-color:#F5F5F5;
	//margin-top:20px;
}
#d241412{
	border:1px solid #CCCCCC;
	height:30px;
	width:67%;
	float:left;
	//text-align:center;
	background-color:yellow;
	//margin-top:20px;
}
#d2421{
	//border:1px solid red;
	width:100%;
	height:260px;
}
#d24211{
	//border:1px solid red;
	width:100%;
	height:30px;
}
#h3{
	margin-top:5px;
}
#d24212{
	//border:1px solid red;
	width:100%;
	height:120px;
}
#d242121{
	//border:1px solid red;
	width:100px;
	height:120px;
	margin-right:3px;
	float:left;
}
#g4{
	width:100px;
	height:120px;
}
#h4{
	margin-top:1px;
}
#p4{
	margin:0px;
}
#d2422{
	//border:1px solid red;
}
#n1{
	width:100%;
	height:30px;
	background-color:#3198B6;
	color:white;
}
#d2423{
	//border:1px solid red;
}
#d2424{
	//border:1px solid red;
}
table,tr,td{
	border:1px solid black;
	border-collapse:collapse;
}
table{
	width:100%;
}
tr,td{
	width:48%;
}
#h6{
	margin-top:5px;
	margin-bottom:0px;
}
#d2425{
	//border:1px solid red;
	margin-top:10px;
}
ul{
	font-size:13px;
}
#h7{
	margin-bottom:0px;
}
#h8{
	margin-bottom:0px;
}
#d2431{
	border:1px solid #CCCCCC;
	height:180px;
	//text-align:center;
	background-color:#F5F5F5;
}
#p7{
	margin-left:20px;
	margin-right:20px;
}
#d2432{
	border:1px solid #CCCCCC;
	height:80px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-top:30px;
}
#d24321{
	//border:1px solid red;
	margin-top:20px;
	margin-left:30px;
	margin-right:30px;
}
#g5{
	width:180px;
	height:40px;
}
#d2433{
	border:1px solid #CCCCCC;
	height:120px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-top:30px;
}
#g6{
	width:180px;
	height:40px;
	//margin:20px;
	margin-left:30px;
	margin-top:0px;
}
#h9{
	text-align:center;
	margin-bottom:0px;
	}
#d2434{
	border:1px solid #CCCCCC;
	height:100px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-top:30px;
}
#d2435{
	border:1px solid #CCCCCC;
	height:100px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-top:30px;
}
#g7{
	width:180px;
	height:40px;
	margin:30px;
	//margin-left:30px;
	//margin-top:0px;
}
#d2436{
	border:1px solid #CCCCCC;
	height:160px;
	//text-align:center;
	background-color:#F5F5F5;
	margin-top:30px;
}
#d24361{
	border-bottom:2px solid #CCCCCC;
	margin-left:20px;
	margin-right:20px;
}
#h10{
	margin-bottom:0px;
	//text-align:center;
}
#d24362{
	//border:1px solid red;
	margin-left:20px;
}
#d2437{
	border:1px solid #CCCCCC;
	height:210px;
	background-color:#F5F5F5;
	margin-top:30px;
}
#d24371{
	border-bottom:2px solid #CCCCCC;
	margin-left:20px;
	margin-right:20px;
}
#d24372{
	//border:1px solid red;
	margin-left:20px;
}
#d2438{
	border:1px solid #CCCCCC;
	height:110px;
	background-color:#F5F5F5;
	margin-top:30px;
}
#d24381{
	//border:1px solid red;
	height:50px;
	width:50px;
	float:left;
	margin-left:30px;
	margin-top:30px;
	margin-bottom:30px;
	margin-right:10px;
}
#d24382{
	//border:1px solid red;
	height:50px;
	width:50px;
	float:left;
	//margin-left:30px;
	margin-top:30px;
	margin-bottom:30px;
	margin-right:10px;
}
#d24383{
	//border:1px solid red;
	height:50px;
	width:50px;
	float:left;
	//margin-left:30px;
	margin-top:30px;
	margin-bottom:30px;
	margin-right:10px;
}
#d2439{
	border:1px solid #CCCCCC;
	height:310px;
	background-color:#F5F5F5;
	margin-top:30px;
}
#d24391{
	border-bottom:2px solid #CCCCCC;
	margin-left:20px;
	margin-right:20px;
}
#d24392{
	//border:1px solid red;
	margin-left:20px;
}
#d25{
	border-top:3px solid white;
	width:95%;
	height:100px;
	margin:30px;
}
#d251{
	//border:1px solid red;
	width:49%;
	height:100px;
	float:left;
}
#d252{
	//border:1px solid red;
	width:47%;
	height:100px;
	float:right;
}
#p10{
	text-align:right;
}
