#d1{
    background-color:navy;
    width:100%;
    height:100px;
    border:1px solid navy;
    float:left;
}
#d11{
    width:200px;
    height:80px;
    margin-top:40px;
    margin-left:140px;
    float:left;
}
#d12{
     width:180px;
     height:40px;
     margin-left:460px;
     margin-top:20px;
     float:left;
}
#d13{
     width:260px;
     height:80px;
     margin-left:960px;
     margin-top:20px;
}
#i1{
    width:220px;
    height:60px;
}
#d2{
    
    width:46%;
    height:600px;
    float:left;
    margin-left:100px;
}
#d3{
   
    width:46%;
    height:600px;
    float:left;
    clear:right;
}
#i2{
    width:600px;
    height:260px;
}
#d4{
    
    width:80%;
    height:150px;
    float:right;
}
p{
  color:grey;
}
p{
   color:grey;
}
#n1{
    text-color:white;
}

